.cardlist {
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto;

  &__pagination {
    margin-top: 2rem;

    & .btn:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__grid {
    @include grid();
  }
}
