.tour-layout {
  display: flex;
  padding: 2rem 10rem;

  @include respond(tab-port) {
    padding: 2rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }
}

.content {
  flex-basis: 100%;
  padding-right: 10rem;

  &__icon {
    color: $color-primary;
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    flex-basis: 100%;
    text-transform: capitalize;
    margin: 2rem 0;
    font-weight: 600;
    letter-spacing: $spacing;
  }

  &__text {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    text-transform: capitalize;
  }

  &__description {
    line-height: 2;
  }
}

.images {
  width: 100%;
  max-width: 100rem;

  &__box {
    width: 100%;
    padding: 0.5rem;
  }

  &__image {
    display: block;
    width: 100%;
    box-shadow: $shadow-light;
  }
}
