main {
  min-height: calc(100vh - 15rem);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .logo {
    width: $logo-width;
  }
}

.hero {
  min-height: calc(100vh - 15rem);
  background-image: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/defaultBcg.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
