.banner {
  text-align: center;
  letter-spacing: $letter-spacing;
  color: $color-white;

  &__title {
    font-size: 3.3rem;
    text-transform: uppercase;
    font-family: $font-secondary;
    margin-bottom: 2rem;
    padding: 0 1rem;
    letter-spacing: 6px;

    @include respond(tab-port) {
      font-size: 4.5rem;
    }
  }

  &__text {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      width: 70%;
    }
  }
}
