.btn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  color: $color-white;
  border: 2px solid $color-white;
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: $transition;
  cursor: pointer;

  &--primary {
    background: $color-primary;
    border: 2px solid $color-primary;
    &:hover {
      background: transparent;
      color: $color-primary;
    }
  }

  &--active {
    background: $color-white;
    border: 2px solid $color-primary;
    color: $color-primary;
    cursor: default;
  }

  &--white:hover {
    background: $color-white;
    color: $color-primary;
  }
}
