.navbar {
  backface-visibility: hidden;

  @include respond(tab-port) {
    overflow: hidden;
    height: 0;
    width: 100%;
  }

  &--show {
    @include respond(tab-port) {
      height: 23rem;
      width: 100%;
      transition: $transition;
    }
  }

  &__list {
    display: flex;
    list-style: none;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 2px;

      @include respond(tab-port) {
        margin: 0;
      }
    }
  }

  &__link:link,
  &__link:visited {
    color: $color-black;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: $letter-spacing;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1.5rem 2rem;
    transition: $transition;

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: $color-black;

    &:hover,
    &:active {
      fill: $color-primary;
    }
  }
}
