.tour {
  width: 32%;
  margin-bottom: 1%;
  list-style-type: none;
  box-shadow: $shadow-light;
  transition: $transition;

  &:hover {
    box-shadow: $shadow-dark;
  }

  &__image-box {
    position: relative;
    background: $color-primary;
    transition: $transition;

    &:hover .tour__image {
      opacity: 0.3;
    }

    &:hover .tour__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: $spacing;
    color: $color-white;
    border: 2px solid $color-white;
    padding: 0.9rem 1.6rem;
    display: inline-block;
    transition: $transition;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: $color-white;
      color: $color-primary;
    }
  }

  &__title,
  &__content {
    padding: 0.5rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__data {
    font-size: 1.4rem;
  }
}
