.tour {
  margin: 0 1.5rem 3rem;
  list-style-type: none;
  box-shadow: $shadow-light;
  transition: $transition;
  flex: 0 1 calc(33% - 3rem);

  @include respond(tab-port) {
    flex: 0 1 calc(50% - 3rem);
  }

  @include respond(phone) {
    flex: 0 1 100%;
  }

  &:hover {
    box-shadow: $shadow-dark;
    transform: translate(-2px, -5px);
  }

  &__image-box {
    position: relative;
    background: $color-primary;
    transition: $transition;

    &:hover .tour__image {
      opacity: 0.3;
    }

    &:hover .tour__link {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: $spacing;
    color: $color-white;
    border: 2px solid $color-white;
    padding: 0.9rem 1.6rem;
    display: inline-block;
    transition: $transition;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: $color-white;
      color: $color-primary;
    }
  }

  &__title {
    text-transform: capitalize;
  }

  &__content {
    padding: 1rem;
  }

  &__info {
    font-size: 1.525rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    margin-top: 0.5rem;
  }

  &__country {
    text-transform: capitalize;
    color: $color-primary;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 0.4rem;
  }

  &__details {
    font-size: 1.125rem;
    color: $color-grey-dark;
    text-transform: uppercase;
    text-align: right;
  }
}
